html {
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
:root {
    --background: #8c0000;
    --links: rgb(255, 199, 149);
    --glow_white: white;
}
body,h1 {
    font-family: "Raleway", sans-serif;
    color: black;
}
body {
    width: 100%;
    height: 100%;
    
}
h1 {
    font-size: 3rem;
    font-weight: bolder;
}
/* footer area */


h2 {
    color: rgb(231, 231, 231);
    font-size: 2rem;
    text-shadow: 5px 5px 2px black;
    width: 100vw;
    font-weight: bold;
}
.top-header {
    width: 100vw;
    height: fit-content;
    background-color: black;

}
.top {
    position: fixed; 
    z-index: 10;
    top: 0;
}

.footer p {
    margin: 0;
}
.footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: fit-content;
    background-color: var(--background);
    width: 100vw;
    position: fixed; 
    z-index: 10;
}

/* logo design */

.logo {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    background-color: transparent;
    font-size: 18px; /* Reduce font size */
    word-spacing: -40px; /* Adjust spacing */
    height: fit-content;
    width: fit-content;
    left: 50%;
    
    transform: translate(-50%);
    border: transparent solid 2px;
}
#logix {
    filter: drop-shadow(0 0 0.25rem rgb(255, 90, 90));
    font-size: 30px; /* Reduce font size */
    color: white;
    margin-right: 0px; /* Add some spacing */
    top: 100px;
}

#ems {
    font-size: 15px; /* Reduce font size */
    color: rgb(255, 8, 8);
    font-style: oblique;
    margin-left: auto;
    bottom: 50px;
}

#go {
    font-size: 30px; /* Reduce font size */
    color: red;
}


.grid-content-header {
    display: grid;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
}
.header-box {
    background: rgba(254, 254, 254, 0.5);
    opacity: 0.75;
    text-align: center;
    width: 100vw;
    z-index: -1;
}
.welcome {
    opacity: 1;
    color: black;
    width: 100vw;
    z-index: -1;
}
/*Navigation bar styles start here*/

.nav-bar {
    display: grid;
    grid-template-columns: 1fr, 2fr;
    padding: 0;
    text-align: left;
    padding-left: 0;
    height: 36px;
    width: 100px;
}

hr {
    text-shadow:25px 2px 5px var(--glow_white);
}

a.number  {
    color: var(--links);
}

@media screen and (min-width: 750px) {
    html {
        font-size: 1.15rem;
    }
    .welcome {
        font-size: 3.5rem;
    }
    .w3-center {
        font-size: 3rem;
    }
    .top-header {
        height: 50px;
    }
}