
.header {
    display: block;
    text-align: center;
    margin-top: 4.15rem;
    height: fit-content;
    border: transparent black;
    text-shadow: 2px 2px 2px whitesmoke;
}

.info-section {
    padding: 2rem;
    font-size: 1.15rem;
    text-shadow: 2px 2px 2px black;
}
.career-paragraph {
    border: transparent black 1px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    
}
@media screen and (min-width: 750px) {
    .career-paragraph {
        width: 75vw;
        margin: auto;
    }
    .info-section {
        font-size: 1.5rem;
    }
}